<br>
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="onas">
                    <div class="card-header">
                        <h1 class="card-title"><i> O NAS: </i></h1>
                    </div>
                    <div class="card-body">
                        <p class="card-title">
                            Nasz komis samochodowy to lider rynku motoryzacyjnego zajmujący się skupem oraz sprzedażą samochodów używanych w całej Polsce.
                            Swoje początki datuje na rok 2009, w którym rozpoczęła się nasza działalność na terenie województwa lubuskiego.
                            W 2015 roku zmienił swoją nazwe z Auto Salon na Komis Samochodowy.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br>
<hr>
<br>
    <div class="row">
        <div class="col">
            <div class="col-md">
                <div class="card text-center text-white mb-3" id="kontakt">
                    <div class="card-header">
                        <h1 class="card-title"><i> KONTAKT: </i></h1>
                    </div>
                    <div class="card-body">
                        <p class="card-title"><b>E-mail:</b> komis@samochodowy.chorazak.pl</p>
                        <p class="card-title"><b>Tel. komórkowy:</b> 563-465-364</p>
                        <p class="card-title"><b>Tel. stacjonarny:</b> 68-964-814</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md">
            <div class="col">
                <div class="card text-center text-white mb-3" id="adres">
                    <div class="card-header">
                        <h1 class="card-title"><i> ADRES: </i></h1>
                    </div>
                    <div class="card-body">
                        <p class="card-title"> Komis samochodowy</p>
                        <p class="card-title"> ul. Bema 2 </p>
                        <p class="card-title"> 65-564, Zielona Góra </p>
                    </div>
                </div>
            </div>
        </div>
    </div>



